{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}

	<p>
	Ciao, {{ g.user['username'] }}. Hai dato la disponibilità a giocare: ricorda che
	puoi sempre <a href="{{ url_for('auth.logout') }}">ritirarla</a>
	(se lo fai, annullerai la partita).
	</p>

	<p>
	Utenti registrati: {{ users|length }}.
	{% if players|length == 0 %}
		In questo momento non c'è nessun utente disponibile a giocare.
	{% else %}
		Utenti disponibili a giocare: {{ players|length }}
		({% for player in players[:-1] %}{{ player['username'] }}, {% endfor %}{{ players[-1]['username'] }}).
	{% endif %}
	</p>

	{% if players|length == 4 %}

		<p>
		Ordine di gioco:
		{% for player in ordered_players[:-1] %}{{ player['username'] }}, {% endfor %}
		{{ ordered_players[-1]['username'] }}.
		</p>

			<p>
			{% for i in range(phase_ante) %}
				{{ ordered_players[i]['username'] }} ha messo il cip: {{ ordered_players[i]['state']['ante'] }}.
			{% endfor %}
			<i>[TODO: gestire la fase di cip.]</i>
			</p>

			{% if phase_ante < 4 %}

				<p>
				{% if ordered_players[phase_ante]['id'] == g.user['id'] %}
					<form method="post">
						Metti il cip (valori possibili: 10, 20, ..., 100):
						<input type="number" name="ante" id="ante" value="10" min="10" max="100" step="10" required>
						<input type="submit" value="Metti">
					</form>
				{% else %}
					{{ ordered_players[phase_ante]['username'] }} deve mettere il cip.
				{% endif %}
				</p>

			{% else %}  <!-- phase_ante == 4 -->

				<p>
				{% for player in ordered_players %}
					{% if player['id'] == g.user['id'] %}
						Le tue carte iniziali sono:
						{{ show_cards(player['state']['cards_before_change']) }}.
					{% endif %}
				{% endfor %}
				</p>

				<p>
				{% for i in range(phase_action_before_change) %}
					{{ ordered_players[i]['username'] }} ha puntato:
					{{ ordered_players[i]['state']['action_before_change'] }}.
				{% endfor %}
				<i>[TODO: gestire la fase di puntate prima del cambio carte.]</i>
				</p>

			{% endif %}  <!-- if phase_ante < 4 -->

			<!-- TODO: manage actions before change -->
			{% if phase_ante == 4 and phase_action_before_change < 4 %}
			{% endif %}

			<!-- Change cards -->

			<p>
			{% for i in range(phase_change) %}
				{{ ordered_players[i]['username'] }} ha cambiato:
				{{ ordered_players[i]['state']['cards_to_be_changed']|length }}.
			{% endfor %}
			</p>

			{% if phase_ante == 4 and phase_action_before_change == 4 and phase_change < 4 %}

				<p>
				{% if ordered_players[phase_change]['id'] == g.user['id'] %}
					<form method="post">
						Carte che vuoi cambiare (es. "1, 2, 5"; "0" = servito):
						<input type="text" name="change" id="change" required>
						<input type="submit" value="Cambia">
					</form>
				{% else %}
					{{ ordered_players[phase_change]['username'] }} deve decidere quante carte cambiare.
				{% endif %}
				</p>

			{% endif %}  <!-- if phase_ante == 4 and phase_action_before_change == 4 and phase_change < 4 -->

	{% else %}
		Ci vogliono quattro giocatori per iniziare la partita.
	{% endif %}

{% else %}

	{% if players|length >= 4 %}
		<p>
		Ciao, purtroppo in questo momento il tavolo è al completo
		(stanno giocando {% for player in players[:-1] %}{{ player['username'] }}, {% endfor %}{{ players[-1]['username'] }}).
		</p>
		<p>Devi aspettare che si liberi un posto per giocare.</p>
		<p>
		Nell'attesa, se non l'hai già fatto, puoi iniziare a
		<a href="{{ url_for('auth.register') }}">registrarti</a>
		(la registrazione è necessaria per giocare).
		</p>
	{% else %}
		<p>
		Ciao, non ti conosco. Vuoi <a href="{{ url_for('auth.login') }}">giocare</a>?
		(Se non l'hai già fatto, devi prima <a href="{{ url_for('auth.register') }}">registrarti</a>.)
		</p>
	{% endif %}

{% endif %}  <!-- if g.user  -->
{% endblock %}  <!-- block content -->
