{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Poker{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user and g.user['state']['available_to_play'] %}
	<p>Ciao, <strong>{{ g.user['username'] }}</strong>.</p>
{% endif %}

<p>
Utenti registrati: {{ users|length }}. Utenti disponibili a giocare:
{% if players|length > 0 %}
	{{ players|length }} ({% for player in players[:-1] %}<strong>{{ player['username'] }}</strong>, {% endfor %}
	<strong>{{ players[-1]['username'] }}</strong>).
{% else %}
	0.
{% endif %}
</p>

<p>
{% if players|length > 4 %}
	Si gioca in quattro: ci sono troppi giocatori.
	{% if g.user and g.user['state']['available_to_play'] %}
		Vuoi <a href="{{ url_for('auth.logout') }}">lasciare il posto</a> a qualcun altro?
	{% endif %}
{% elif players|length == 4 %}
	Si gioca in quattro: la partita può iniziare.
{% else %}
	Si gioca in quattro: ci sono troppo pochi giocatori.
	{% if not (g.user and g.user['state']['available_to_play']) %}
		Vuoi <a href="{{ url_for('auth.login') }}">giocare</a>?
		(Per farlo devi prima <a href="{{ url_for('auth.register') }}">registrarti</a>.)
	{% endif %}
{% endif %}
</p>

<!-- Game ongoing -->
{% if players|length == 4 %}

	<!-- Playing order -->
	<p>
	Ordine di gioco:
	{% for player in ordered_players[:-1] %}<strong>{{ player['username'] }}</strong>, {% endfor %}
	<strong>{{ ordered_players[-1]['username'] }}</strong>.
	</p>

	<!-- Show antes -->
	<p style="color: grey">
	{% for i in range(phase_ante) %}
		<strong>{{ ordered_players[i]['username'] }}</strong> ha messo il cip: {{ ordered_players[i]['state']['ante'] }}.
	{% endfor %}
	<i>[TODO: gestire la fase di cip.]</i>
	</p>

	<!-- Ask antes -->
	{% if phase_ante < 4 %}
		<p>
		{% if g.user and ordered_players[phase_ante]['id'] == g.user['id'] %}
			<form method="post">
				Metti il cip (valori possibili: 10, 20, ..., 100):
				<input type="number" name="ante" id="ante" value="10" min="10" max="100" step="10" required>
				<input type="submit" value="Metti">
			</form>
		{% else %}
			<strong>{{ ordered_players[phase_ante]['username'] }}</strong> deve mettere il cip.
		{% endif %}
		</p>
	{% endif %}

	<!-- Show cards before change -->
	{% if phase_ante == 4 %}
		<p>
		{% for player in ordered_players %}
			{% if g.user and player['id'] == g.user['id'] %}
				<hr>
				Carte iniziali:
				{{ show_cards(player['state']['cards_before_change']) }}.
				<hr>
			{% endif %}
		{% endfor %}
		</p>
	{% endif %}

	<!-- Show actions before change -->
	{% if phase_ante == 4 %}
		<p style="color: grey">
		{% for i in range(phase_action_before_change) %}
			<strong>{{ ordered_players[i]['username'] }}</strong> ha puntato:
			{{ ordered_players[i]['state']['action_before_change'] }}.
		{% endfor %}
		<i>[TODO: gestire la fase di puntate prima del cambio carte.]</i>
		</p>
	{% endif %}

	<!-- TODO: ask actions before change -->
	{% if phase_ante == 4 and phase_action_before_change < 4 %}
	{% endif %}

	<!-- Show number of changed cards -->
	{% if phase_action_before_change == 4 %}
		<p>
		{% for i in range(phase_change) %}
			<strong>{{ ordered_players[i]['username'] }}</strong> ha cambiato:
			{{ ordered_players[i]['state']['cards_to_be_changed']|length }}.
		{% endfor %}
		</p>
	{% endif %}

	<!-- Ask cards to be changed -->
	{% if phase_action_before_change == 4 and phase_change < 4 %}
		<p>
		{% if g.user and ordered_players[phase_change]['id'] == g.user['id'] %}
			<form method="post">
				Carte che vuoi cambiare (es. "1, 2, 5"; "0" = servito):
				<input type="text" name="change" id="change" required>
				<input type="submit" value="Cambia">
			</form>
		{% else %}
			<strong>{{ ordered_players[phase_change]['username'] }}</strong> deve decidere quante carte cambiare.
		{% endif %}
		</p>
	{% endif %}

	<!-- Show changed and new cards -->
	{% if phase_change == 4 %}
		<p>
		{% for player in ordered_players %}
			{% if g.user and player['id'] == g.user['id'] %}
				Cambio carte:
				{% if player['state']['cards_to_be_changed']|length > 0 %}
					{{ show_cards(player['state']['cards_to_be_changed']) }}
					&rarr;
					{{ show_cards(player['state']['new_cards']) }}.
				{% else %}
					servito.
				{% endif %}
			{% endif %}
		{% endfor %}
		</p>
	{% endif %}

	<!-- Show cards after change -->
	{% if phase_change == 4 %}
		<p>
		{% for player in ordered_players %}
			{% if g.user and player['id'] == g.user['id'] %}
				<hr>
				Carte finali:
				{{
					show_cards(merge_cards(
						player['state']['cards_before_change'],
						player['state']['cards_to_be_changed'],
						player['state']['new_cards'],
					))
				}}.
				<hr>
			{% endif %}
		{% endfor %}
		</p>
	{% endif %}

	<!-- Show actions after change -->
	{% if phase_change == 4 %}
		<p style="color: grey">
		{% for i in range(phase_action_after_change) %}
			<strong>{{ ordered_players[i]['username'] }}</strong> ha puntato:
			{{ ordered_players[i]['state']['action_after_change'] }}.
		{% endfor %}
		<i>[TODO: gestire la fase di puntate dopo il cambio carte.]</i>
		</p>
	{% endif %}

	<!-- TODO: ask actions after change -->
	{% if phase_change == 4 and phase_action_after_change < 4 %}
		<p>
		{% if g.user and ordered_players[phase_action_after_change]['id'] == g.user['id'] %}
			<form method="post">
				Punta (valori possibili: 10, 20, ..., 200):
				<input type="number" name="action_after_change" id="action_after_change" value="10" min="10" max="200" step="10" required>
				<input type="submit" value="Punta">
				<input type="submit" value="Lascia">
			</form>
		{% else %}
			<strong>{{ ordered_players[phase_ante]['username'] }}</strong> deve puntare.
		{% endif %}
		</p>
	{% endif %}

	<!-- TODO: ask whether or not cards shall be shown -->
	{% if phase_action_after_change == 4 %}
	{% endif %}

	<!-- TODO: show all cards -->
	{% if phase_action_after_change == 4 %}
		{% for player in ordered_players %}
			{% if player['state']['fold_after_change'] is none %}
				{% if g.user and player['id'] == g.user['id'] %}
					<p>
						<form method="post">
							<strong>{{ player['username'] }}</strong>, vuoi mostrare le carte?
							<input type="radio" name="show_hand" id="yes" value="yes" checked="checked">
							<label for="yes">sì</label>
							<input type="radio" name="show_hand" id="no" value="no">
							<label for="no">no</label>
							<input type="hidden" id="playing_order" name="playing_order" value="{{ player['state']['playing_order'] }}">
							<input type="submit" value="Invia">
						</form>
					</p>
				{% else %}
					<p><strong>{{ player['username'] }}</strong> deve ancora decidere se mostrare le carte.</p>
				{% endif %}
			{% elif player['state']['fold_after_change'] %}
				<p><strong>{{ player['username'] }}</strong> non mostra le carte.</p>
			{% else %}
				<p>
					<strong>{{ player['username'] }}</strong> mostra le carte:
					{{
						show_cards(merge_cards(
							player['state']['cards_before_change'],
							player['state']['cards_to_be_changed'],
							player['state']['new_cards'],
						))
					}}.
				</p>
			{% endif %}
		{% endfor %}
	{% endif %}

	<!-- Hand is finished? -->
	{% if finished %}
		<p>
		Mano finita. Gioca un'altra mano con lo
		<a href="{{ url_for('play.restart') }}">stesso</a> oppure con un
		<a href="{{ url_for('play.restart', playing_order='random') }}">altro</a> ordine di gioco.
		</p>
	{% endif %}

{% endif %}

{% endblock %}  <!-- block content -->
