<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Periodically refresh page -->
<!-- <meta http-equiv="refresh" content="30"> -->
<title>{% block title %}{% endblock %} - Cards (WIP!)</title>
<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}"> -->
<!-- <script src="script.js"></script> -->
</head>

<body>

<!-- Navigation bar outside home page -->
<nav>
{% if request.path != '/' %}
<a href="{{ url_for('index') }}">Home</a>
{% else %}
<a href="{{ url_for('index') }}">Refresh</a>
{% endif %}
</nav>

<section class="content">
<header>
{% block header %}{% endblock %}
</header>
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
{% block content %}{% endblock %}
</section>

</body>

</html>
