<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if greeting %}
		<title>{{ greeting }}</title>
	{% else %}
		<title>Hello</title>
	{% endif %}
	<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">
	<!-- <script src="script.js"></script> -->
</head>
<body style="background-color: #222; color: #ddd">
	<div class="w3-display-middle">
		{% if greeting %}
			{% if name %}
				<h1>{{ greeting }}, {{ name }}!</h1>
			{% else %}
				<h1>{{ greeting }}!</h1>
			{% endif %}
		{% else %}
			<h1>Hello, World!</h1>
		{% endif %}
	</div>
</body>
</html>
