body {
	background-color: #222;
	color: #ddd;
}

h1 {
	font-family: sans-serif;
	/*color: yellow;*/
}

.center-hv { /* center horizontally and vertically */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
